#inbox {
  .inbox-wrapper { margin: auto; max-width: 1220px; }
  padding: 12px 0 0 6px;
  .content-wrapper {
    .line-light {
      height: 1px;
      background-position: center -3px;
    }
  }
  .ontop {
    border-radius: 5px 5px 0 0;
    position: absolute;
    width: 100%;
    z-index: 9;
  }
  .elem {
    cursor: pointer;
    padding: 7px 15px 8px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: @fg;
      .msg span {
        color: @bg;
      }
      .pic {
        border-color: @hl;
      }
    }
    .pic {
      border: 1px solid black;
      float: left;
      .border {
        height: 50px;
        overflow: hidden;
        border: 1px solid #4f4f4f;
      }
      img {
        margin-top: -3px;
        width: 50px;
      }
    }
    .msg {
      width: calc(~'100% - 55px');
      float: left;
      color: #9B9B9B;
      h3 {
        padding: 0 8px;
        margin-bottom: 2px;
        margin-top: 9px;
        font-size: 14px;
        color: rgb(0, 214, 255);
      }
      span {
        white-space: nowrap;
        width: 100%;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 8px;
        font-size: 12px;
      }
    }
  }
  .txt {
    white-space: pre-wrap;
  }
  h2 {
    text-align: center;
    margin: 15px 0;
    text-shadow: 0 1px rgba(255, 255, 255, .5);
  }
  .line-dark, .line-light {
    height: 2px;
    background-image: url('/images/ui/line-gradient.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .line-dark {
    background-position-y: 0;
  }
  .compact, .wide {
    position: relative;
    height: 100%;
    float: right;
    &.merge {
      .ontop {
        border-radius: 5px 0 0 0;
        margin-right: 0;
      }
      margin-right: 0;
      border-radius: 5px 0 0 0;
      border-right-color: #000;
      .scroll {
        margin-right: 0;
      }
    }
    .scroll {
      padding-top: 52px;
      overflow: auto;
      background-color: @bg-light;
      min-height: 450px;
      height: 100%;
      border-radius: 5px 5px 0 0;
      border: 1px solid @bg;
    }
  }
  .dark {
    h2 { text-shadow: 0 -2px @fg-darker; }
    .ontop, .scroll, .txt {
      border-color: @fg-darker;
      color: @bg-light;
      background-color: @fg-dark;
    }
  }
  .compact { width:33%; }
  .wide {
    width:66%;
    .scroll {
      border-radius: 0 5px 0 0;
      border-left-color: #E2E2E2;
      h2 {
        background-color: #1F1F1F;
        border-radius: 5px 0 0 0;
      }
    }
  }
  @media (max-width: 950px) {
    padding-top: 3px;
    padding-left: 0;
    margin-left: -2px;
    .compact {
      .scroll {
        margin-right: 0;
        border-radius: 0;
      }
    }
  }
}
