#sidebar-menu.sidewidth(ng-controller="SidebarCtrl")
  .link(ng-repeat="link in links")
    .elem.noselect(id="{{link.name | lowercase}}" ng-click="show = !show" tabindex="{{$index + 2}}")
      button(disabled)
        i.fa(ng-class='{open:show, active:link.sublinks.length > 0}')
      a(ui-sref="{{link.name | lowercase}}" tabindex="-1" ng-click="show = False") {{link.name}}
        span(ng-show="link.unseen")  ({{link.unseen}})
    .sublinks(ng-show="show")
      .sublink(ng-repeat="sublink in link.sublinks")
        .elem.noselect(id="{{link.name | lowercase}}" ng-class="sublink.id === currentViewId" ng-click="subshow = !subshow")
          button(disabled)
            i.fa(ng-class='{open:subshow, active:sublink.children.length > 0}')
          a(ng-href="{{'#/' +link.name + '/' + sublink.name | lowercase}}" tabindex="-1" ng-click="subshow = False") {{sublink.name}}
            span(ng-show="sublink.unseen")  ({{sublink.unseen}})
        .childlinks(ng-show="subshow")
          .elem.noselect(ng-repeat="childlink in sublink.children" ng-class="childlink.id === currentViewId" ng-click="subshow = !subshow")
            button(disabled)
              i.fa
            a(ng-href="{{'#/' + link.name + '/' + sublink.name + '/' + childlink.name | lowercase}}" tabindex="-1") {{childlink.name}}
              span(ng-show="childlink.unseen")  ({{childlink.unseen}})
  .spacer
