div(ng-controller="TopmenuCtrl")
  #search-wrapper
    #search
      input.text-input(type="text" placeholder="Search...")
      button#search-btn
        i.fa.fa-search
    #user-name
      a(ui-sref="index")
        span.name {{user.firstName}} 
        span.surname {{user.lastName}}
  #icons-wrapper
    a.fa.fa-envelope-o(ui-sref="inbox" alt="inbox")
    a.fa.fa-cog(ui-sref="index" alt="settings")
    button.avatar(ng-click="dropdown()")
      #dropdown-menu(ng-show="isDropdown")
        ul
          li
            a(href='#') Profile
          li
            a(href='#') Marks
          li
            a(href='#') X
          .divider
          li
            a(href='/logout') Logout
    .spacer
  #profile
    include profile
