#search-wrapper
  #search
    input.text-input(type="text" placeholder="Search...")
    button#search-btn
      i.fa.fa-search
  #user-name
    a(href="#")
      span.name name 
      span.surname surname 
#icons-wrapper
  a.fa.fa-envelope-o(href="/#/inbox" alt="inbox")
  a.fa.fa-cog(href="/#/settings" alt="settings")
  a.avatar(href="/#/profile" alt="avatar")
  .spacer
#profile
  include profile
