#search-wrapper
  #search
    input.text-input(type="text" placeholder="Search...")
    button#search-btn
      i.fa.fa-search
  #user-name
    a(ui-sref="index")
      span.name name 
      span.surname surname 
#icons-wrapper
  a.fa.fa-envelope-o(ui-sref="inbox" alt="inbox")
  a.fa.fa-cog(ui-sref="index" alt="settings")
  a.avatar(ui-sref="profile" alt="avatar")
  .spacer
#profile
  include profile
