doctype html
html
  head
    title= title
  body hello
    form(name='AuthForm' action='/auths' method='post')
      input(type='text' name='login' placeholder='' required='required' value='adjivas')
      input(type='password' name='password' placeholder='' required='required' value='adjivas')
      input(type='submit' value='send')
