form(action='add', method='post')
  select(name='addIdParent')
    option(value='')
    each parent, i in parents
      option(value=parent['_id'])=parent['name']
  input(name='addName', type='text', required='required')
  input(type='submit', value='add')

form(action='del', method='post')
  select(name='delIdChild', required='required')
    option(value='')
    each parent, i in parents
      option(value=parent['_id'])=parent['name']
  input(type='submit', value='del')
