doctype html
html(ng-app="intraX")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
    script(src="https://code.angularjs.org/1.2.9/angular-route.js")
    script(src="/scripts/app.js")
  body(ng-view)
    block content
