doctype html
html(ng-app="intraX")
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    //- link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
    script(type="text/javascript" src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js")
    //- script(type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    //- script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js")
    script(type="text/javascript" src="/scripts/app.js")
    script(type="text/javascript" src="/scripts/auths.js")
    script(type="text/javascript" src="/scripts/services.js")
    script(type="text/javascript" src="/scripts/forum.js")

  body
    block content
    #scripts
