doctype html
html(ng-app="intraX")
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
    script(type="text/javascript" src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js")
    script(type="text/javascript", src="/scripts/auths.js")
  body
    block content
    #scripts
      script(src="/scripts/app.js")
