doctype html
html(ng-app="intraX")
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
    script(type="text/javascript" src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js")
    script(src="/scripts/app.js")
  body
    - if (account) {
    #sidebar.sidewidth
    include ui/sidebar
    #topmenu
      include ui/topmenu
    - }
    table#view(border="0" cellspacing="0" cellpadding="0")
      tbody
        tr
          td.sidewidth.fakemenu
          td
          - if (account) {
            #content(ui-view)
          - } else {
            block content
          - }
     #scripts
