script(type="text/javascript", data-require="angular.js@1.2.10" data-semver="1.2.10" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
script(type="text/javascript", src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js")
script(type="text/javascript", src="/scripts/app.js")
