#auth-panel {
  width: 300px;
  background-color: #eaeaea;
  border: 1px solid @bg;
  margin: auto;
  margin-top: 10%;//calc(~'50% - 150px');
  padding: 10px;
  box-shadow: 0px 0px 5px @bg-dark;

  input, button {
    display: block;
    width: 200px; 
    margin: auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 13px;
  }

  // input.ng-invalid {
  //   border: 1px solid red;
  //   box-shadow: 0px 0px 5px red;
  // }

  button {
    background-color: @lb;
    border: 1px solid @db;
    color: white;
    cursor: pointer;
    &:focus, &:hover {
      background-color: @hl-light;
    }
  }

  button.disabled {
    background-color: @bg;
    border: 1px solid @bg-dark;
    color: @bg-darker;
  }

  button.signed {
    background-color: #b8e336;
    border: 1px solid #81B516;
    color: white;
  }

  #logo-42 {
    background-image: url('/images/ui/42logo.png');
    display: block;
    width: 53px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
  }

  .error {
    margin-top: 5px;
    text-align: center;
    color: red;
  }
}
