#auth-panel {
  width: 300px;
  height: 110px;
  background-color: #eaeaea;
  border: 1px solid @bg;
  margin: auto;
  margin-top: 20%;
  padding: 10px;

  input, button {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 16px;
  }

  button {
    background-color: @lb;
    border: 1px solid @db;
    color: white;
    cursor: pointer;
  }
}
