#view {
  position: fixed;
  border-top: 1px solid @bg;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: scroll;
  #content-wrapper {
    #content {
    display: inline-block;
    float: left;
      width: 2000px;
      height: 2000px;
      padding: 30px;
    }
  }
}
