#view {
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-spacing: 2px;
  border-collapse: collapse;
  #content {
    margin-top: 50px;
    width: 2000px;
    height: 2000px;
    padding: 30px;
  }
}
