#elearning-container {
  h2 {
    margin: 5px;
    color: @blu1;

    span {
      color: #404040;
    }
  }
  #video-panel {
    border: 1px solid #cbcbcb;
    padding: 10px;
    .videoPlayer {
      width: 100%;
      // max-width: 500px;
    }
  }
}
