// COLOR VARIABLES :
@bg: #cbcbcb; // Background Light Grey
@fg: #404040; // Foreground Dark Grey
@hl: #39c7f3; // Highlight Light Blue
@fg-dark: darken(@fg, 20%);
@fg-darker: darken(@fg, 40%);
@fg-light: lighten(@fg, 20%);
@fg-lighter: lighten(@fg, 40%);
@bg-dark: darken(@bg, 20%);
@bg-darker: darken(@bg, 40%);
@bg-light: lighten(@bg, 20%);
@bg-lighter: lighten(@bg, 40%);
@hl-dark: darken(@hl, 20%);
@hl-darker: darken(@hl, 40%);
@hl-light: lighten(@hl, 20%);
@hl-lighter: lighten(@hl, 40%);

body {
  background-color: @bg;
  color: @fg;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
