#user-container {
  #user-card {
    td {
      vertical-align: top;
      padding: 5px;
    }

    h1 {
      margin: 0;
      margin-bottom: 5px;
    }

    .user-info {
      margin-top: 2px;
      font-weight: bold;
    }
    .user-value {
      font-weight: normal;
    }

    img {
      width: 110px;
      display: block;
    }
  }

  .spacer {
    height: 20px;
  }

  #current-token {
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }

}

