.sidewidth {
  width: 229px;
  max-width: 229px;
  min-width: 229px;
}
#sidebar {
  position: fixed;
  height: 100%;
  background-color: @bg;
  border-right: 1px solid @bg-dark;
  margin-top: -1px;
}
#sidebar-menu {
  position: fixed;
  top:50px;
  z-index: 99999;
  border-top: 1px solid @bg-dark;
  border-right: 1px solid @bg-dark;
  a {
    display: block;
  }

  .selected {
    background-color: #39c7f3;
    color: white;
    border-top: 1px solid #288baa;
    border-bottom: 1px solid #288baa;
  }
  
  .unseen {
    font-weight: bold;
  }
}

#link, #sublink {
  padding-left: 10px;
}

#sublink {
  margin-left: 10px;
}
