#topmenu {
  padding-top: 7px;
  padding-bottom: 8px;
  background-color: @bg-lighter;
  border: 1px solid @bg;
  #search {
    height: 26px;
    width: 40%;
    overflow: hidden;
    margin: 0;
    border: 0;
    input {
      width: calc(~'100% - 30px');
      height: 26px!important;
      margin: 0;
      padding: 2px 6px;
      font-size: 16px;
      height: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    button {
      background-color: @hl;
      border-color: @hl-dark;
      color: white;
      margin: 0;
      padding: 0;
      height: 26px;
      width: 26px;
      float: right;
    }
  }

}
