p {{welcome}}

p Click to select a category :

ul(style="cursor:pointer")
  li(ng-repeat="item in data")
    div(id="{{item.id}}", ng-dblclick="modify(item.id)", ng-click="father($index, item.id)", ng-blur="blured(item.id)", contentEditable="{{(modifyCategory === item.id)}}") {{item.name}}
    ul(ng-show="fatherIndex === $index")
      li(ng-repeat="child in item.children")
        div(id="{{child.id}}", ng-dblclick="modify(child.id, value)", ng-click="son($index, child.id)" ng-blur="blured(child.id)", contentEditable="{{modifyCategory === child.id}}") {{child.name}}
p(ng-show="selectedCategory") You have selected {{selectedCategory}}.
  br
  button(ng-click="unselect()") Unselect  
  button(ng-click="delete(selectedCategory)", ng-hide="modifying") Delete
  button(ng-click="modify(selectedCategory)", ng-hide="modifying") Modify
  button(ng-show="modifying", ng-click="valid(modifyCategory)") Valid
  button(ng-show="modifying", ng-click="cancel()") Cancel
p(ng-hide="modifying")

  input(ng-model="name")
  button(ng-click="add(name)") Add

p {{flash}}
  button(ng-show="flash", ng-click="clear()") Clear
