p(ng-hide="subName") Welcome to category {{catName}}
p(ng-show="subName") Welcome to category {{subName}}, daughter of {{catName}}

p Category Id is {{categoryId}}

p Here are the topics availabe in this category :
ul
  li(ng-repeat="topic in topics")
    a(ng-href="{{'#/forum/' + _prefix + 'post/' + topic.description}}") {{topic.description}} / {{topic.idAccounts}} / {{topic.dateOfCreation}}
    - if (account.isAdmin) {
        button(ng-click="del(topic._id)") remove
    - }

fieldset
  legend add a topic
  label sujet
  input(type="text", ng-model="title")
  br
  label message
  textarea(ng-model="content")
  br
  button(ng-click="add(title, content)") add
