p {{welcome}}

p My subjects
  ul
    li(ng-repeat="userTopic in userTopics") {{userTopic.title}} / {{userTopic.date}}

p Subjects followed
  ul
    li(ng-repeat="followedTopic in followedTopics") {{followedTopic.title}} / {{followedTopic.author}} / {{ followedTopic.date}}
