p {{welcome}}
p {{speach}}

ul
  li(ng-repeat="item in data")
    a(ng-href="#/category/{{item.node.name}}/") {{item.node.name}}
    ul
      li(ng-repeat="child in item.child")
        a(ng-href="#/category/{{item.node.name}}/{{child.node.name}}") {{child.node.name}}
p
