p {{welcome}}
p Here are the categories
  ul
    li(ng-repeat="cat in data")
      a(ng-href="#/forum/{{cat.url}}") {{cat.name}}
      ul
        li(ng-repeat="sub in cat.children")
          a(ng-href="#/forum/{{cat.url}}/{{sub.url}}") {{sub.name}}
