#inbox
  .inbox-wrapper
    .compact
      #messages-compact
        h2 Notifications
        .line-dark
        .content-wrapper
    .compact
      #tickets-compact
        h2 Tickets
        .line-light
        .content-wrapper
    .compact
      #notif-compact
        h2 Messages
        .line-dark
        .content-wrapper
