p topic : {{idTopic}}

ul(id="thread")
  li(class="message", ng-repeat="message in messages")
    fieldset(id="{{message.parent.id}}")
      h3(class="messageTitle")
        span(class="messageAuthor") {{message.parent.idAccounts}}
        |&nbsp;-&nbsp;
        span(class="messageDate") {{message.parent.dateOfCreation}}
      p(id="message.id", class="messageContent") {{message.parent.contenue}}
      div(id="{{'commentBox' + $index}}", ng-show="message.id == commenting")
        textarea(ng-model="commentContent")
        button(class="commentMessage", ng-disabled="!commentContent", ng-click="comment(commentContent, message.parent.id)") commenter
      ul
        li(class="comment", ng-repeat="comment in message.child")
          h4(class="commentTitle")
            span(class="commentAuthor") {{comment.parent.idAccounts}}
            |&nbsp;-&nbsp;
            span(class="commentDate") {{comment.parent.dateOfCreation}}
          p(id="{{comment.id}}", class="commentContent") {{comment.parent.contenue}}
  br
  textarea(id="answerBox", ng-model="message")
  button(id="answerButton", ng-click="answer(message)", ng-disabled="!message") répondre
