#inbox
  .inbox-wrapper(resizable ng-style="myStyle(120)")
    .wide
      .ontop
        h2 Tickets
      #messages-wide.scroll
        .line-dark
        .content-wrapper
    .compact.dark.merge
      .ontop
        h2 Recent
      #messages-compact.scroll
        .content-wrapper
          .line-light
          div(ng-repeat="elem in tickets track by $index")
            .line-light
            .elem.noselect
              .pic
                .border
                  img(src="https://cdn.42.fr/userprofil/profilview/{{elem.from}}.jpg" onerror="this.src='https://intra.42.fr/static6854/img/nopicture-profilview.png'")
              .msg
                h3 {{elem.from}}
                span {{elem.content}}
    .spacer
  .spacer
.spacer
