div#user-card
  img(ng-src="data:image/jpeg;base64," + "{{user.picture}}")
  div Firstname: {{user.firstName}}
  div Lastname: {{user.lastName}}
  div Uid: {{user.uid}}
  div Phone: {{user.mobilePhone}}
  div Birth Date: {{user.birthDate}}
