h1 User
  div Firstname: {{user.firstName}}
  div Lastname: {{user.lastName}}
  div Uid: {{user.uid}}
  div City: {{user.birthDate}}
  div Phone: {{user.mobilePhone}}
  img(src="data:image/jpeg;base64," + "{{user.picture}}")
